@media screen and (max-width: 1200px) {
  /* На устройства 1024px*/
 
}





@media screen and (max-width: 754px) {
  /* На устройства 480px*/

  .rules {
    width: 400px;
  }


}




@media screen and (max-width: 450px) {
  /* На устройства 324px*/
  .title {
    font-size: 30px;
  }
  
  .section-title {
    font-size: 22px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  .rules {
    width: 340px;
  }

  footer {
    display: none;
  }
}