@media screen and (max-width: 754px) {
  .rules {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 28px;
  }
  
  .section-title {
    font-size: 20px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .rules {
    width: 340px;
  }

  footer {
    display: none;
  }
}