/* общие свойства*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark); 
    margin: 0;   
}


/*main colors*/
:root {
    --color-dark: #353535;
    --color-white: #EFEFEF;
    --color-grey: #A8A2A2;
    --color-green: #2B4E50;
    --color-light: #589eb4;    
}

/* layout */
.container {
    width: 1140px;
    margin: 0 auto;   
}


/* font-size for title */
.title {
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
    /* height: 78; */
    text-align: center;
}

.section-title {
    font-family: 'Garamond', serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin: 15px;
}

.section-subtitle {
    font-family: 'Garamond', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}


/*font-size for text*/
.small-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.medium-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.big-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

/* flex */
.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-column-ai-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* clear */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;   
    text-decoration: none;
}

/* button */
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 1px solid var(--color-grey);  
    border-radius: 2px;
    color: var(--color-dark);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;    
}

.btn--primary {
    background-color: var(--color-light);
    cursor: pointer;
}

.btn--secondary {
    background-color: #e97917;
}

.btn--primary:hover {
    border: 1px solid var(--color-white);
}

.btn--secondary:hover {
    border: 1px solid var(--color-white);
}

.btn--primary:disabled {
    background-color: #cecac7;
    cursor: not-allowed;
    border:none;
    font-weight: 400;
}

.btn--secondary:disabled {
    background-color: #cecac7;
    cursor: not-allowed;
    border:none;
    font-weight: 400;
}


/*СВОЙСТВА ДЛЯ САМОЙ СТРАНИЦЫ*/
.header {
    background-color: #d8a925;
    height: 100px;
}

.main {
    margin-top: 50px;   
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

legend {
    margin-bottom: 10px;
}

label {
    margin-right: 50px;
}

/* Игровое поле */
section {
    margin-bottom: 50px;
}

.area {
    width: 152px;
    border: 1px solid  #353394; 
    font-size: 0px; /*зануляем отступы между клетками*/
}

.area-big {
    width: 252px;
    /* border: 1px solid  #943352;   */
    border: 1px solid  #353394;  
    font-size: 0px; /*зануляем отступы между клетками*/
}

.cell,
.cell-big {
    width: 50px;    
    height: 50px;
    line-height: 50px;
    /* border: 1px solid  #943352;   */
    border: 1px solid #353394; 
    display: inline-block; /*блоки выстраиваются из вертикального ряда в сетку 3х3*/
    font-size: 26px; /*размер керстика/нолика*/
    text-align: center;
    vertical-align: middle; /*чтобы после нажатия на ячейку, не было смещений*/
    cursor: pointer;
    color: #a91113;
}

.cell:hover {
    background-color: #fff;
}

.currentPlayer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    width: 130px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.stat {
    border: 1px solid #353394; 
    width: 160px;
    text-align: center;

}